html {
    background-color: #222;
    color: #bbb;
    font: 12px sans-serif;
}

#overview {
    display: grid;
    grid-template-areas: "power   chart"
                         "battery chart"
                         "energy  chart";
    grid-template-columns: auto 1fr;
    height: 95vh;
}

#pvInput {
    grid-area: power;
}

#batteryStatus {
    grid-area: battery;
}

#currentEnergy {
    grid-area: energy;
}

#overviewChart {
    grid-area: chart;
}

span.currentValue {
    font-size: 4rem;
}

span.minValueToday {
    font-size: 2rem;
}

span.maxValueToday {
    font-size: 2rem;
}

#powerHistory {
    height: 80vh;
}